div{
  border: 1px solid black;
}
.container{
  height: 500px;
  width: 500px;
  display: flex;
  align-content: space-around;
}

.item{
  height: 100px;
  width: 100px;

}

.first{
  order: 2;
}
.second{
  order: 1;
}
